.section__schedule {
  padding: 32px 0;
  list-style: none;
  max-width: 650px;
  margin: 0 auto;
}

.schedule__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
}

.schedule__item:nth-child(odd) {
  background-color: white;
}

.schedule__item p {
  font-family: var(--font-luciole);
  font-weight: 200;
}

@media screen and (max-width: 1180px) {
  .section__schedule {
    padding: 32px 16px 0 16px;
  }
}
