.interactive-card__item:first-child {
  margin-top: 32px;
}

.interactive-card__item:first-child,
.interactive-card__content:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.interactive-card__item:last-child,
.interactive-card__content:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.interactive-card__item {
  display: flex;
  flex-direction: row;
  cursor: default;
  background-position: 50% 50%;
  height: 120px;
  width: 100%;
  background-size: cover;
  transition: all ease-in-out 0.2s;
}

.interactive-card__content {
  overflow: hidden;
  transition: background ease-in-out 0.3s;
  padding: var(--padding);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  height: 100%;
  width: 100%;
}
.interactive-card__title {
  text-transform: uppercase;
}

.interactive-card__container {
  display: none;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}
.interactive-card__container a {
  cursor: pointer;
  min-width: 260px;
}

.interactive-card__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
}

.interactive-card__item:hover {
  height: 300px;
  background-position: 50% 40%;
}

.interactive-card__item:hover .interactive-card__content {
  background: rgba(0, 0, 0, 0.3);
}

.interactive-card__item:hover .interactive-card__container {
  display: flex;
  gap: 16px;
  flex-direction: row;
  animation: showContent ease-in-out 0.5s;
}

@media screen and (max-width: 762px) {
  .interactive-card__item:hover .interactive-card__container {
    flex-direction: column;
  }

  .interactive-card__text {
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }

  .interactive-card__container a {
    width: 100%;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
