.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel__container {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel:-webkit-scrollbar {
  display: none;
}

.carousel__item {
  flex-shrink: 0;
  scroll-snap-align: center;
  height: 100%;
  width: 100%;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__select {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.carousel__element {
  cursor: pointer;
  height: 18px;
  background-color: transparent;
  border: 2px solid var(--btn-color);
  width: 18px;
  border-radius: 50%;
  margin: 0 3px;
}

.carousel__element--active {
  background-color: var(--btn-color);
}

.carousel__element--active:valid {
  opacity: 0.2;
}

.carousel__container_buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.5;
  width: 120px;
  height: 100%;
  transition: opacity linear 0.2s;
}

.carousel__button:last-child {
  transform: rotate(180deg);
}

.carousel__button:hover {
  opacity: 1;
}

@media screen and (max-width: 762px) {
  .carousel__container {
    overflow-x: scroll;
  }

  .carousel__container_buttons {
    visibility: collapse;
  }
}
