.chart {
  display: flex;
  padding: 8px;
  gap: 6px;
  width: 100%;
  min-height: 320px;
  padding-bottom: 30px;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
}
.chart__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart__items {
  display: flex;
  gap: 6px;
  width: 100%;
  align-items: end;
  justify-content: space-evenly;
}

.chart__item {
  width: 100%;
  max-width: 60px;
}

.chart__item__bar {
  min-width: 60px;
  height: 100%;
  background-color: var(--bg-color-dark);
}

.chart__item__text {
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
