.details {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.3);
}

.details__container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  padding-bottom: 40px;
  background-color: white;
}

.details__top {
  display: flex;
  align-items: center;
  padding: 0 6px 0 var(--padding);
  background-color: var(--bg-color-light);
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.details__container--show {
  animation: show 0.2s linear;
}

.details__top__buttons {
  display: flex;
  margin-left: auto;
  gap: 4px;
}

.details__content {
  padding: var(--padding);
  overflow: scroll;
  height: calc(100% - 40px);
}

.details__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 var(--padding);
}

.details__item:nth-child(2n) input,
.details__item:nth-child(2n) textarea,
.details__item:nth-child(2n) select {
  background-color: white;
}
.details__item:first-child() {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.details__item label {
  width: 30%;
  margin-right: 10px;
  opacity: 0.5;
}

.details__input-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.details__input:nth-child(odd) {
  background-color: var(--bg-color-light);
}

.details__item:nth-child(odd) {
  background-color: var(--bg-color-light);
}

.details__textarea:nth-child(odd) {
  background-color: white;
}

.details__input,
.details__textarea {
  margin: 6px 0;
  width: 100%;
}

.details__item label:first-child {
  word-break: break-all;
  opacity: 0.5;
}

.details__item p:last-child {
  padding-left: 6px;
}

.details__image {
  width: 320px;
  padding: var(--padding);
  padding-left: 0;
}
@keyframes show {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 762px) {
  .details__image {
    width: 100%;
  }

  .details__item {
    padding: 0;
  }

  .details__input-wrapper {
    flex-direction: column;
  }

  .details__container {
    width: calc(100% - 60px);
  }
}
