.details {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.3);
}

.details__container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  padding-bottom: 40px;
  background-color: white;
}

.details__top {
  display: flex;
  align-items: center;
  padding: 0 6px 0 var(--padding);
  background-color: var(--bg-color-light);
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.details__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 var(--padding);
}

.details__item:nth-child(2n) input,
.details__item:nth-child(2n) textarea,
.details__item:nth-child(2n) select {
  background-color: white;
}

.details__item label,
.details__item span {
  width: 30%;
  margin-right: 10px;
  opacity: 0.5;
  text-overflow: ellipsis;
  overflow: hidden;
}

.details__input-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.details__input,
.details__textarea {
  margin: 6px 0;
  width: 100%;
}

.details__item label:not(:first-child) {
  padding-left: var(--padding);
}

.details__item p:last-child {
  padding-left: 6px;
}

.details__image {
  width: 320px;
  padding: var(--padding);
  padding-left: 0;
}

@media screen and (max-width: 762px) {
  .details__image {
    width: 100%;
  }

  .details__item {
    padding: 0;
  }

  .details__input-wrapper {
    flex-direction: column;
  }

  .details__container {
    width: calc(100% - 60px);
  }
}
