.dashboard {
  flex-grow: 0;
  padding-top: 60px;
  padding-left: 200px;
  max-width: 1920px;
}

.dashboard__logo {
  padding: 16px;
  margin: 0 auto;
}

.admin__container {
  display: flex;
  gap: 6px;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  padding: 0 var(--padding);
  width: 100%;
  height: calc(100vh - 60px);
}

.admin__title {
  font-size: 2rem;
  padding-bottom: var(--padding);
}

.admin__top {
  margin-top: 16px;
  display: flex;
  gap: 6px;
  width: 100%;
}
.admin__element {
  width: 100%;
  height: 100%;
  padding: 6px;
  background-color: white;
}

admin__element--bottom {
  width: 100%;
  height: 100%;
  padding: 6px;
  background-color: white;
}

.dashboard-top {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding-left: 200px;
  padding-right: 16px;
  background-color: var(--bg-color-light);
  box-shadow: -15px -15px 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
}

.dashboard-top ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

.dashboard-panel__list__item a {
  display: flex;
  font-family: var(--font-kodchasan);
  font-size: 1.3rem;
  min-height: 32px;
}

.dashboard-panel__list__item a:hover {
  color: var(--btn-color);
}

.dashboard-panel__list__item:first-child {
  margin-top: 32px;
}

.dashboard-panel__list__item > a {
  margin: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashboard__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-panel {
  position: fixed;
  z-index: 3;
  overflow: scroll;
  height: 100vh;
  width: 200px;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.dashboard-panel::-webkit-scrollbar {
  display: none;
}
.dashboard-panel svg {
  margin: 16px auto;
  width: 100%;
}

button {
  margin-left: auto;
}

.dashboard__params {
  cursor: pointer;
  height: fit-content;
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  font-family: var(--font-luciole);
  font-size: 1rem;
}

button span {
  font-family: var(--font-luciole);
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 var(--padding);
  padding-top: 16px;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.dashboard__container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__title {
  font-size: 2.5rem;
}

.container__search {
  display: flex;
}

.container__search--date {
  margin-right: 6px;
}

.container__search .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container__search input[type="search"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard__content {
  width: 100%;
  height: fit-content;
}
thead {
  background-color: rgba(0, 0, 0, 0.05);
}
tr {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

textarea {
  margin: 6px 0;
}

.dashboard__order {
  width: 30px;
}

/* SLIDER */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btn-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--btn-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-width: 762px) {
  .dashboard-panel__list__item span {
    display: none;
  }

  .container__search {
    flex-direction: column;
    gap: 6px;
  }

  .dashboard__container {
    padding: 6px;
  }

  .dashboard-panel {
    width: 60px;
    align-items: center;
  }

  .dashboard {
    margin: 0;
    padding-left: 60px;
  }

  .dashboard-panel__list__item {
    width: 100%;
  }

  .dashboard__logo {
    visibility: collapse;
    height: 0;
    padding: 0;
  }

  .dashboard__element {
    width: 100%;
    min-height: 360px;
  }

  .dashboard__container__top {
    flex-direction: column;
    align-items: start;
  }

  .dashboard__title {
    font-size: 2rem;
  }

  .container__search--date {
    margin-right: 0;
  }

  .admin__top {
    flex-direction: column;
  }

  .admin__title {
    font-size: 1.5rem;
  }
}
