.dashboard__logo {
  padding: 16px;
  margin: 0 auto;
}

.dashboard-top {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding-left: 200px;
  padding-right: 16px;
  background-color: var(--bg-color-light);
  box-shadow: -15px -15px 10px 15px #111;
  display: flex;
  justify-content: end;
}

.dashboard-top ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

.dashboard-panel__list__item a {
  display: flex;
  font-family: var(--font-kodchasan);
  font-size: 1.3rem;
  min-height: 32px;
}

.dashboard-panel__list__item a:hover {
  color: var(--btn-color);
}

.dashboard-panel__list__item:first-child {
  margin-top: 32px;
}

.dashboard-panel__list__item > a {
  margin: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashboard {
  flex-grow: 0;
  padding-top: 60px;
  padding-left: 200px;
  max-width: 100%;
}

.dashboard__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-panel {
  position: fixed;
  z-index: 3;
  height: 100vh;
  overflow: scroll;
  width: 200px;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.dashboard-panel::-webkit-scrollbar {
  display: none;
}
.dashboard-panel svg {
  margin: 16px auto;
  width: 100%;
}

button {
  margin-left: auto;
}

.dashboard__params {
  cursor: pointer;
  height: fit-content;
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  font-family: var(--font-luciole);
  font-size: 1rem;
}

button span {
  font-family: var(--font-luciole);
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 var(--padding);
  padding-top: 16px;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.dashboard__container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__title {
  font-size: 2.5rem;
}

.container__search {
  display: flex;
}

.container__search .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container__search input[type="search"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard__content {
  width: 100%;
  height: max-content;
}
thead {
  background-color: rgba(0, 0, 0, 0.05);
}
td {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dashboard__order {
  width: 30px;
}

@media screen and (max-width: 762px) {
  .dashboard-panel__list__item span {
    display: none;
  }

  .dashboard__container {
    padding: 6px;
  }

  .dashboard-panel {
    width: 60px;
    overflow: hidden;
    align-items: center;
    flex-direction: column-reverse;
  }

  .dashboard {
    margin: 0;
    padding-left: 60px;
  }

  .dashboard-panel__list__item {
    width: 100%;
  }

  .dashboard__logo {
    visibility: collapse;
  }

  .dashboard__element {
    width: 100%;
    min-height: 360px;
  }

  .dashboard__container__top {
    flex-direction: column;
    align-items: start;
  }

  .dashboard__title {
    font-size: 2rem;
  }
}
