dialog {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.dialog--confirm {
  height: fit-content;
  width: 460px;
  max-width: 80%;
  padding: 12px 6px;
}

.dialog--confirm__buttons {
  display: flex;
  gap: 6px;
}

.dialog--confirm__paraph {
  margin: 32px 0;
}
.dialog--admin .dialog__content {
  margin-top: 80px;
  height: calc(100% - 80px);
}

.dialog__content {
  margin-top: 40px;
  padding: var(--padding);
  overflow: scroll;
  height: 100%;
}

::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.dialog__form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dialog__top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px 0 var(--padding);
  background-color: var(--bg-color-light);
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dialog__top__buttons {
  display: flex;
  margin-left: auto;
  gap: 4px;
}

/* media query  */
@media screen and (max-width: 762px) {
  dialog {
    width: 100%;
  }

  .dialog--confirm__buttons {
    flex-direction: column-reverse;
  }

  .dialog--confirm__buttons button {
    width: 100%;
  }
}
