:root {
  --ROOT: "http://localhost/Arcadia/public";

  --bg-color-dark: #203c25;
  --bg-color-light: #fcf9f6;
  --btn-color: #ee9326ff;

  --font-kodchasan: "Kodchasan", sans-serif;
  --font-luciole: "Luciole", sans-serif;

  --padding: 32px;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole/Luciole-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole/Luciole-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan/Kodchasan-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan/Kodchasan-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--bg-color-light);
  font-family: var(--font-luciole);
}
body {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: var(--font-kodchasan);
  font-size: 3.5rem;
}

h2 {
  font-family: var(--font-kodchasan);
  font-size: 2.6rem;
}
h3 {
  font-family: var(--font-kodchasan);
  color: var(--bg-color-light);
  font-weight: 400;
  font-size: 2.2rem;
}
p {
  font-family: var(--font-kodchasan);
  font-size: 1.2rem;
}

input {
  height: 40px;
  font-family: var(--font-luciole);
  padding: 6px;
  font-size: 1.1rem;
  background-color: var(--bg-color-light);
  border-style: none;
  border-radius: 5px;
}

input[type="button"] {
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--bg-color-light);
  font-weight: bold;
  transition: background-color linear 0.2s;
}

textarea {
  border-style: none;
  border-radius: 5px;
  font-family: var(--font-luciole);
  padding: 6px;
  font-size: 1.1rem;
  resize: none;
}

hr {
  opacity: 0.2;
}

.mt {
  margin-top: 16px;
}

.no-scroll {
  overflow: hidden;
}
.image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  padding: 16px 0;
}

.image--bottom {
  object-position: 50% 15%;
}
.hidden {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  width: 260px;
  min-height: 60px;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font-luciole);
}

.button:not(:disabled) {
  transition: background-color linear 0.2s;
}

.button:active {
  opacity: 0.9;
}
.button--cube {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: none;
}

.button:disabled {
  cursor: default;
  opacity: 0.2;
}

.button:not(:disabled):hover {
  background-color: rgb(216, 135, 35);
}

input[type="button"]:hover {
  background-color: rgb(216, 135, 35);
}

.font--light {
  color: var(--bg-color-light);
}

.menus {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 762px) {
  .button:not(.button--cube) {
    display: block;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
  }

  input[type="button"] {
    display: block;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
    height: 100%;
  }

  :root {
    --padding: 16px;
  }
}
