:root {
  --bg-color-dark: #203c25;
  --bg-color-light: #fcf9f6;
  --btn-color: #ee9326ff;
  --font-kodchasan: "Kodchasan", sans-serif;
  --font-luciole: "Luciole", sans-serif;
  --padding: 32px;
}

/* Custom fonts */
@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole/Luciole-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole/Luciole-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan/Kodchasan-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan/Kodchasan-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

/* reset style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--bg-color-light);
  font-family: var(--font-luciole);
}
body {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-color: var(--btn-color);
  scrollbar-base-color: antiquewhite;
}

main {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--font-kodchasan);
  font-size: 3.5rem;
}

h2 {
  font-family: var(--font-kodchasan);
  font-size: 2.6rem;
}
h3 {
  font-family: var(--font-kodchasan);
  font-weight: 400;
  font-size: 2.2rem;
}

h4 {
  font-family: var(--font-kodchasan);
  font-size: 2rem;
}

h5 {
  font-family: var(--font-kodchasan);
  font-size: 1.5rem;
}

p,
label,
span {
  font-family: var(--font-kodchasan);
  font-size: 1.2rem;
}

th,
td {
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--font-luciole);
  font-size: 1rem;
  font-weight: 400;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

input {
  height: 60px;
  font-family: var(--font-luciole);
  padding: 6px;
  font-size: 1.1rem;
  background-color: var(--bg-color-light);
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="button"] {
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--bg-color-light);
  font-weight: bold;
  transition: background-color linear 0.2s;
}

input[type="time"],
input[type="date"] {
  min-width: 150px;
  text-align: center;
}

textarea {
  border-style: none;
  border-radius: 5px;
  font-family: var(--font-luciole);
  background-color: var(--bg-color-light);
  padding: 6px;
  font-size: 1.1rem;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input::placeholder {
  opacity: 0.2;
}

select {
  margin: 6px 0;
  width: 100%;
  height: 60px;
  padding: 0 6px;
  font-size: 1.1rem;
  background-color: var(--bg-color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
  opacity: 0.2;
}

/* global class */
.mt {
  margin-top: 16px;
}

.table__button {
  cursor: pointer;
  background-color: var(--btn-color);
  color: white;
  border: none;
  padding: 6px 10px;
  font-family: var(--font-luciole);
  border-radius: 5px;
}

.center {
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  padding: 16px 0;
}

.image--bottom {
  object-position: 50% 15%;
}
.hidden {
  display: none;
}

.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 16px;
  width: 260px;
  height: 60px;

  border-radius: 5px;
  background-color: var(--btn-color);
  color: black;
  text-decoration: none;
  border: none;
  font-weight: 400;
  font-family: var(--font-luciole);
  font-size: 1rem;
  user-select: none;
}

.button:not(:disabled) {
  transition: background-color linear 0.2s;
}

.button:active {
  opacity: 0.9;
}
.button--cube {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: none;
}

.button--red {
  background-color: red;
}

.button:disabled {
  cursor: default;
  opacity: 0.2;
}

.button:not(:disabled):hover {
  background-color: rgb(216, 135, 35);
}

.button--red:not(:disabled):hover {
  background-color: rgb(197, 3, 3);
}
input[type="button"]:hover {
  background-color: rgb(216, 135, 35);
}

.font--light {
  color: var(--bg-color-light);
}

.error {
  background-color: #f8d7da;
  color: black;
  padding: 12px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
  color: black;
  padding: 12px;
  border-radius: 5px;
}

.menus {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.loading svg {
  animation: load linear 0.5s infinite;
}
.max-height {
  height: 100%;
}
.max-width {
  width: 100%;
}
.clickable {
  cursor: pointer;
}

/* Media query */

@media screen and (max-width: 762px) {
  .button:not(.button--cube) {
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
  }

  input[type="button"] {
    display: block;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
    height: 100%;
  }

  input[type="time"],
  input[type="date"] {
    min-width: 60px;
  }

  .hidden--mobile {
    display: none;
  }

  .max-width--mobile {
    width: 100%;
  }

  :root {
    --padding: 16px;
  }
}
